//size base
$grid-gap: 20px;
$border-radius-size: 10px;

//colors 

$yellow-100 : #f9eee1;
$yellow-500 : #ffcb6b;
$purple-100 : hsl(254, 88%, 90%);
$purple-500 : hsl(256, 67%, 59%);
$white : hsl(0, 0%, 100%);
$black : hsl(0, 0%, 7%);

