$font-family-main: "DM Sans", sans-serif;
$font-size-normal: 0.8rem;
$font-size-medium: 1.5rem;
$font-size-big: 1.8rem;
$font-size-bigger: 2.6rem;
$font-weight-normal: 400;
$font-weight-medium: 600;



body {
  font-family: $font-family-main;
}


.grid-left-top {
h2 {
    font-family: $font-family-main;
    font-size: $font-size-big;  
    font-weight: $font-weight-medium;
    letter-spacing: -1.7px;
    line-height: 25px;
    span {
        font-style: italic;
        color: $purple-500;
    }
}
}

.grid-left-bottom {
h2 {
    font-family: $font-family-main;
    font-size: $font-size-big;  
    font-weight: $font-weight-medium;
    letter-spacing: -1.7px;
    line-height: 25px;
}
}

.social-media {
    h1 {
        font-family: $font-family-main;
        font-size: $font-size-bigger;  
        font-weight: $font-weight-normal;
        color: $white;
        line-height: 40px;
        span {
            &:first-child {
                color: $yellow-500;
            }
            &:last-child {
                font-style: italic;
            }
        }
    }
    p {
        font-family: $font-family-main;
        font-size: $font-size-normal;  
        font-weight: $font-weight-normal;
        color: $white;
    }
}

.double-card {
    h2 {
        font-family: $font-family-main;
        font-size: $font-size-medium;  
        font-weight: $font-weight-medium;
        letter-spacing: -1.7px;
        line-height: 21px;
    }
}

.grid-right-top-right {
    h2 {
        font-family: $font-family-main;
        font-size: $font-size-medium;  
        font-weight: $font-weight-medium;
        letter-spacing: -1.7px;
        line-height: 21px;
    }
    p {
        font-family: $font-family-main;
        font-size: $font-size-normal;  
        font-weight: $font-weight-medium;
        line-height: 15px;
    }
}

.audience-card {
    h2 {
        font-family: $font-family-main;
        font-size: $font-size-bigger;  
        font-weight: $font-weight-medium;
    }
    p {
        font-family: $font-family-main;
        font-size: $font-size-normal;  
        font-weight: $font-weight-medium;
    }
}

.followers-card {
    h2 {
        font-family: $font-family-main;
        font-size: $font-size-big;  
        font-weight: $font-weight-normal;
        line-height: 27px;
        color: $white;
    }
}